body {
  background: #eeedec;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}

.container {
  max-width: 100%;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 -15px;
}

.col {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
  text-align: center;
}

.icon {
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
}

.icon0,
.icon1,
.icon2,
.icon3,
.icon4 {
  position: relative;
  border-radius: 50%;
  width: 100px;
  margin: 10px auto;
  transform: scale(0.6);
}

@media (min-width: 576px) {
  .col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .col {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 992px) {
  .col {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
